<mat-card class="login-card" (mouseover)='bluringBackground()' (mouseleave)='unbluringBackground()'>
  <div class="login_logo">
    <img src="https://drive.google.com/uc?id=1UCuwEFL2_wANdGi7_6N7_xs5YDoBSzuq" alt="Aweather" title="Aweather" />
  </div>
  <div class="border-top-input">
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
      <mat-card-content>
        <mat-grid-list cols="1" rowHeight="60px">
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Usuario" name="user" [(ngModel)]="user">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Contraseña" name="password" [(ngModel)]="password">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-card-actions class="mat-card-button-login">
          <button mat-raised-button class="submit" class="login-button mat-primary">
            <i class="fas fa-key fa-lg"></i>
          </button>
        </mat-card-actions>
      </mat-card-content>
    </form>
  </div>
</mat-card>


<div class="full-page-background" [@myAnimation]="showBackgroundImage" [ngStyle]="{'background-image': 'url(' + activeBackgroundImage + ')'}"></div>
<!--PREVENT BLINKING-->
<img src="https://drive.google.com/uc?id=1wsk0lus_UmgB1x7YBHZ30PHhd59oI_QJ" style="display:none;">
<img src="https://drive.google.com/uc?id=1hSNFcWC5LECKPbws1cMJfcmVGiXPe40v" style="display:none;">
<img src="https://drive.google.com/uc?id=13XuzG26KujCSlAqGwAnXMtjNqx5mxYFA" style="display:none;">

<img src="https://drive.google.com/uc?id=13sGmUKF193j2BDrvOtAuGMV27mEe5HSE" style="display:none;">
<img src="https://drive.google.com/uc?id=1uf_L2Ms1uGLXMgN5WCrUj0zTVdxN-g2p" style="display:none;">
<img src="https://drive.google.com/uc?id=13nbhGXFU0icwZ1llfTDAFap0r36SbRXX" style="display:none;">
