<mat-toolbar color="primary">
    <div class="header_logo">
      <img src="https://drive.google.com/uc?id=1UCuwEFL2_wANdGi7_6N7_xs5YDoBSzuq"> </div>
    <div class="mat-down">
      <i class="fa fa-bars fa-lg" (click)="sidenav.toggle()"></i>
    </div>
    <span class="toolbar-right"></span>
    <div class="toolbar-icons-menu">
      <i class="fa fa-sign-out-alt fa-lg" [routerLink]="['/home/login']"></i>
    </div>
  </mat-toolbar>
