<div class="menu-list-divider"> v.1.0 </div>
<mat-list>
  <mat-list-item routerLinkActive="active">
    <a mat-button mat-line [routerLink]="['weather/search']">Añadir ciudades</a>
    <i class="fab fa-cloudversify font-size-20"></i>
  </mat-list-item>
  <div class="menu-list-divider"> Ciudades </div>
  <div appDropdown class="drop-down">
    <mat-list-item>
      <a mat-button mat-line appDropdowntoggle class="drop-down-toggle">Ciudades</a>
    </mat-list-item>
    <div class="drop-down-items">
      <mat-list-item *ngFor="let city of cities" routerLinkActive="active">
        <a mat-button mat-line [routerLink]="['weather/info', city]">{{city}}</a>
        <i class="fas fa-map-marker-alt font-size-20"></i>
      </mat-list-item>
    </div>
  </div>

</mat-list>
